$font-stack-serif:'Lato', sans-serif;;
$font-stack-sans-serif:'Oswald', sans-serif;;
$base-font-size: 17px;
$base-font-color:#2c2c2c;
$brand-blue-color:#53b4e5;
$brand-gray-color:#4e4e4e;
$mobile-background-menu:#2b2f36;

$linkColor : #36363A;


// Blog sidebar
$sidebarAlt			: #C2C2C2;


//FLS Secondary Navigation Color Themes

$orange:    #f3481c;
$lightBlue: #5aadd5;
$yellow:    #ffb31f;


// Text colors
$textArctic			: #91ECFF;
$textBlack			: #000000;
$textBlue			: #0072BC;
$textButterscotch	: #FFB31F;
$textCharcoal		: #2C2C2C;
$textEggNog			: #FFE293;
$textFossilGrey		: #8C8C8C;
$textMauve			: #7467A6;
$textOceanGreen		: #15A57C;
$textPeanut			: #7D6F49;
$textRed			: #F3411B;
$textSalmon			: #FF7F6E;
$textShadowGrey		: #484848;
$textTeal			: #35D1BC;
$textWhite			: #ffffff;


// Button bg colors
$buttonAegean		: #5666A2;
$buttonBlack 		: #000000;
$buttonCandyRed		: #F3411B;
$buttonHoney		: #FFB31F;
$buttonLightBlue	: #5998D5;
$buttonPeanut		: #B0894B;
$buttonPear			: #80C351;
$buttonPurple		: #A645C5;
$buttonSalmon		: #FF7F6E;
$buttonSkyBlue		: #03A4FF;
$buttonTeal			: #35D1BC;
$buttonWhite		: #ffffff;


// Background colors
$bgApricot			: #DE8E2B;
$bgBlack 			: #000000;
$bgBlue				: #1570A5;
$bgBubblegum		: #B64182;
$bgCrimson			: #C81817;
$bgGreen			: #15A57C;
$bgOcean			: #0D97A5;
$bgPurple			: #8E42A8;
$bgSage				: #7D7C63;
$bgSand				: #B0A245;
$bgWhite			: #FFFFFF;
$bgYellow			: #FACD56;



//Global Colors
$violet: #7c53bd;

//Footer Colors
$footerCopyBg: #BD983D;
$footerCopyColor: #ffe293;

$footerSearchInput:#E7BD4F;
$footerSearchInputBorder:#C2A142;
$footerSocialMedia:#675C3D;
$footerSocialMediaHeading:#675C3D;

$addressBg:#FED466;




