$font-stack-serif:'Lato', sans-serif;;
$font-stack-sans-serif:'Oswald', sans-serif;;
$base-font-size: 17px;
$base-font-color:#2c2c2c;
$brand-blue-color:#53b4e5;
$brand-gray-color:#4e4e4e;
$mobile-background-menu:#2b2f36;

$linkColor : #36363A;


// Blog sidebar
$sidebarAlt			: #C2C2C2;


//FLS Secondary Navigation Color Themes

$orange:    #f3481c;
$lightBlue: #5aadd5;
$yellow:    #ffb31f;


// Text colors
$textBeige      	: #FFE293;
$textBlack 			: #000000;
$textBlue       	: #0072BC;
$textBrown      	: #B0894B;
$textDarkGrey   	: #2C2C2C;
$textDarkKaki   	: #7D6F49;
$textGrey       	: #484848;
$textGreen      	: #15A57C;
$textLightBlue  	: #91ECFF;
$textLightGrey  	: #8C8C8C;
$textOrange     	: #FFB31F;
$textPurple     	: #7467A6;
$textRed        	: #F3411B;
$textSalmon     	: #FF7F6E;
$textTurquoise  	: #35D1BC;
$textViolet     	: #A645C5;
$textWhite      	: #ffffff;


// Background colors
$bgBlack 			: #000000;
$bgBlue          	: #1570A5;
$bgGreen        	: #15A57C;
$bgGrey          	: #7D7C63;
$bgLightBlue    	: #0D97A5;
$bgKaki          	: #B0A245;
$bgOrange        	: #DE8E2B;
$bgPurple        	: #8E42A8;
$bgRed           	: #C81817;
$bgViolet        	: #B64182;
$bgWhite         	: #FFFFFF;
$bgYellow			: #FACD56;

// Button bg colors
$buttonBlue         : #5666A2;
$buttonGreen        : #80C351;
$buttonLightBlue    : #5998D5;
$buttonBrown        : #B0894B;
$buttonOrange       : #FFB31F;
$buttonPurple       : #A645C5;
$buttonRed          : #F3411B;
$buttonSalmon       : #FF7F6E;
$buttonSkyBlue      : #03A4FF;
$buttonTurquoise    : #35D1BC;
$buttonWhite        : #ffffff;

//Global Colors
$violet: #7c53bd;

//Footer Colors
$footerCopyBg: #BD983D;
$footerCopyColor: #ffe293;

$footerSearchInput:#E7BD4F;
$footerSearchInputBorder:#C2A142;
$footerSocialMedia:#675C3D;
$footerSocialMediaHeading:#675C3D;

$addressBg:#FED466;




