/**
 * Home Page Settings
 *
 * 1. Section Offer/angebote
 * 2. Section Offer
 * 3. Section News
 * 4. Section Gallery
 * 6. Post on every listing page
 * 7. Blog
 */

header.home {
	height:100%;
}
header.other-header {
	padding-bottom: 210px;
}
@include laptop {
	header.other-header {
		padding-bottom: 70px;
	}
}

.logo {
	img {
		max-width: 200px;
	}
}

.frame {
	border:2px dashed #C1A79A;
	padding: 10px;
}

.fls-badge {
	left: 30px;
	position: fixed;
	top: 0;
	z-index:1000;
	img {
		width: 85%;
	}
}
@include mobile {
	.fls-badge {
		left: 10px;
		img {
			width: 70%;
		}
	}
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u6a9xp');
  src:  url('fonts/icomoon.eot?u6a9xp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u6a9xp') format('truetype'),
    url('fonts/icomoon.woff?u6a9xp') format('woff'),
    url('fonts/icomoon.svg?u6a9xp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Arrow_left:before {
  content: "\e901";
}
.icon-Arrow_right:before {
  content: "\e902";
}
.icon-Aktuelles_icon:before {
  content: "\e903";
}
.icon-Kontakt_icon:before {
  content: "\e904";
}
.icon-Termine_icon:before {
  content: "\e905";
}
.icon-Search_icon:before {
  content: "\e900";
}


.pipe {
	padding: 0 7px;
}

.section-one {
	margin: 100px 0;
}
@include laptop {
	.section-one {
		margin: 50px 0;
	}
}
@include mobile {
	.section-one {
		margin: 0;
	}
}


/* 1. Section offer/angebote
   ========================================================================== */

.offer {
	padding-left: 20px;
	padding-right: 20px;

	ul {

		&.homepage-slider {
			display: block;
			margin-left: auto;
			margin-right: auto;
			max-width: 1160px;
			position: relative;
			width:80%;

			.owl-nav {
				button {
					bottom: 0;
					margin: auto;
					position: absolute;
					top: 0;

					&.owl-prev {
						left: -50px;
					}

					&.owl-next {
						right: -50px;
					}
				}
			}
  		}

		&::after {
			clear: both;
			content: "";
			display: table;
		}

		li {
			padding: 20px;

			a > div {
				padding: 40px;
			}
		}
	}

	.permalink  {
		text-align: center;
		margin-top: 30px;
	}

	.offerDescription {		
		h3 {
			color: #fff;
			font-weight: normal;
			letter-spacing: 0.03em;
			padding: 30px 0 20px 0;
			text-align: left;
		}
	}
}
@include laptop {
	.offer {
		ul {
			&.homepage-slider {
				width:100%;
			}

			li {
				a {
					> div {
						padding: 20px;
					}
				}
			}
		}
	}
}
@include mobile {
	.offer {
		ul {
			li {
				padding: 0;
			}
		}
	}
}




/* 2. Section news
   ========================================================================== */

.news {
	padding-left: 20px;
	padding-right: 20px;

	.permalink {
		margin-top: 30px;
		text-align: center;
	}

	ul {
		&::after {
			clear: both;
			content: "";
			display: table;
		}

		li {
			display: inline-block;
			margin-right: -4px;
			padding: 20px;
			vertical-align: top;
			width: 50%;

			a {
				&> {
					div {
						overflow:hidden;
						padding: 0px;
						@include box-shadow(1);
					}
				}
			}
		}
	}

	.newsDescription {
		h3 {
			font-size: 21px;
			letter-spacing: 0.03em;
		}

		.newsDate {
			color: #95aee4;
			font-weight: bold;
			margin-top: 15px;

			span {
				display: inline-block;
				vertical-align: middle;

				+span {
					font-size:12px;
					margin-left: 10px;
				}
			}
		}
						
		> div {
			padding: 25px;
		}
		p { 
			padding-top: 20px;
		}
		.newsCategory {
			display: block;
			font-size: 15px;
			margin-top: 5px;
		
			a {

		   		font-size:13px;
		   		font-weight:bold;

		   	}
		}
	}
}
@include tablet {
	
	.news {
		.newsThumb {
			float:none;
			padding: 15px;
			width: 100%;

			img {
				float: left;
				float:none;
				width: 100%;
			}
		}

		.newsDescription {
			float:none;
			width: 100%;

			> div {
				padding: 0 15px 15px;
			}
		}
	}
}

@include mobile {
	.news {
		ul  {
			li {
				float: none;
				margin-bottom: 20px;
				padding: 0;
				width: 100%;
			}
		}
	}
}




   /* 4. Section Gallery
   ========================================================================== */


.gallery  {
	ul {
		li {
			float:left;
			position: relative;
			width: 25%;
		}
	}
}
@include tablet {
	.gallery {
		ul {
			li {
				width:33.33%;
			}
		}
	}
}
@include mobile {
	.gallery {
		ul {
			li {
				width:50%;
			}
		}
	}
}




/* 6. Post on every listing page
	========================================================================== */

.single-article {
	margin-bottom: 60px;

	.article-header {
		margin-bottom: 30px;

		h3 {
			font-size: 36px;
			font-weight: 400;
			letter-spacing: 0.03em;
			line-height: 1.2em;
			margin-bottom: 10px;
		}

		.article-info {
			color: lighten($base-font-color, 20%);
			font-size: 90%;
		}
	}

	figure {
		img {
			width: 100%;
		}
	}

	p {
		margin: 30px 0 40px;
	}
}
@include mobile {
	.single-article {
		margin-bottom: 40px;

		.article-header {
			margin-bottom: 20px;

			h3 {
				font-size: 28px;
			}
		}

		p {
			margin: 20px 0;
		}
	}
}


.all-posts {
	
	.single-article {
		
		figure {
			margin-right: 10%;
		}

	}

}




/* 7. Blog
	========================================================================== */


.blog-wrap {
	padding: 100px 20px;
}

.aktuelles {
	margin-right: 15%;
	padding: 0;
}

.sidebar-widget {
	margin-bottom: 70px;

	.sidebar-subtitle {
		font-size: 1.3em;
		font-weight: 400;
		letter-spacing: 0.03em;
		line-height: 1.3em;
		margin-bottom: 40px;
	}

	ul {
		li {
			border-bottom: 1px solid $sidebarAlt;
			display: block;

			a {
				display: inline-block;
				line-height: 1.5em;
				padding: 10px 0;
			}
		}
	}

	&.w-most-popular-posts {
		ul {
			li {
				a {
					vertical-align: middle;

					&:nth-of-type(1) {
						max-width: 40%;
					}

					&:nth-of-type(2) {
						max-width: 55%;
					}

					.wpp-thumbnail {
						margin-right: 5%;
					}
				}
			}
		}
	}

	&.w-tags {
		.tagcloud {
			a {
				background-color: lighten($sidebarAlt, 10%);
				display: inline-block;
				font-size: 14px!important;
				font-weight: 400;
				margin-right: 2px;
				margin-top: 2px;
				padding: 4px 8px;

				img {
					margin-right: 10px;
				}
			}
		}
	}
}

.search-form {
	border: 2px solid $sidebarAlt;
	color: $sidebarAlt;
	padding: 10px 20px;

	input {
		border: 0;
		display: inline-block;
		margin-right: -4px;
		vertical-align: middle;
		width: 80%;
	}

	button {
		display: inline-block;
		margin-right: -4px;
		text-align: right;
		vertical-align: middle;
		width: 20%;

		span {
			font-size: 1.5em;
		}
	}
}

.pagination {
	a {
		&.page-numbers {
			display: inline-block;
			padding: 5px;

			&:hover {
				color: inherit;
				text-decoration: underline;
			}
		}
	}
	span {
		&.page-numbers {
			display: inline-block;
			padding: 5px;
		}
	}
}

.content-pagination {
	margin-top: 50px;

	div {
		max-width: 50%;

		a {
			&:hover {
				color: inherit;
				text-decoration: underline;
			}
		}
	}
}
@include tablet {
	.blog-wrap {
		padding: 0;
	}

	.aktuelles {
		float: none;
		margin-bottom: 50px;
		margin-right: 0;

		&.grid-55 {
			width: 100%;
		}
	}

	.right-sidebar {
		float: none;

		&.grid-30 {
			margin: 0 auto;
			width: 70%;
		}
	}

	.sidebar-widget {

		.sidebar-subtitle {
			margin-bottom: 15px;
		}
	}
}
@include mobile {
	.right-sidebar {
		&.grid-30 {
			width: 90%;
		}
	}

	.sidebar-widget {
		margin-bottom: 50px;

		ul {
			li {
				display: block;

				a {
					display: inline-block;
					line-height: 1.5em;
					padding: 5px 0;
				}
			}
		}
	}
}




/* 	8. Nav2, Nav3, Nav4, Our Team single
	========================================================================== */

.nav {
	padding: 50px 20px;
}

.nav-article {
	margin-right: 15%;
	padding: 0;
}

.nav-right-sidebar {
	padding-top: 66px;

	ul {
		li {
			border-bottom: 1px solid $sidebarAlt;
			display: block;

			a {
				display: inline-block;
				line-height: 1.5em;
				padding: 10px 0;

				&:hover {
					color: lighten($linkColor, 40%);
				}
			}
		}
	}
}

.nav1-image {
	margin: 50px auto;

	figure {
		text-align: center;
	}
}

.nav1-text {
	margin: 0 auto;
	width: 60%;
}

/* Team custom post template */

.team-single {
	.section-title {
		text-align: left;
	}

	.team-member-info {
		margin: 10px 0;

		p {
			margin-top: 20px;
		}

		ul {
			margin-top: 20px;

			&.social-media {
				li {
					display: inline-block;
					margin-right: 5px;
					width: 45px;
					a {
						img {
							width: 100%;
						}
					}
				}
			}
		}

		.permalink {
			margin-top: 10px;
			text-align: left;

			a {
				padding: 10px 0;

				&:hover {
					text-decoration: underline;
				}		
			}
		}
	}
}
@include laptop {
	.nav-article,
	.team-article {
		margin-bottom: 50px;
		margin-right: 0;

		&.grid-55 {
			width: 100%;
		}
	}

	.nav-right-sidebar {
		clear: both;
		float: none;
		padding-top: 0;

		&.grid-30 {
			margin: 0 auto;
			width: 70%;
		}
	}
}
@include mobile {
	.nav {
		padding: 0;
	}
}
@include mobile {
	.nav-right-sidebar {
		&.grid-30 {
			width: 90%;
		}
	}
}




/* 	9. Termine
	========================================================================== */

.wdc_calendar {
	width: 100%!important;
}

.termine-calendar {
	margin-bottom: 100px;
}

@include laptop {
	.termine-calendar {
		padding: 0 20px;
	}
}


/* 	10. Kontakt
	========================================================================== */

.kontakt {
	text-align: center;

	.section-subtitle {
		padding-bottom: 20px;
	}

	p {
		font-size: 14px;
		line-height: 1.5em;

		&.contact-info-title {
			font-size: 1.2em;
			letter-spacing: 0.1em;
			margin-bottom: 15px;
			text-transform: uppercase;
		}

		&.contant-info {
			font-weight: bolder;

			a {
				text-decoration: underline;
			}
		}
	}

	.table {
		margin: 50px auto;

		.table-cell {
			border-right: 1px solid $textFossilGrey;

			&:last-of-type {
				border: none;
			}
		}
	}
}

@include tablet {
	.kontakt {
		.table {
			display: block;

			.table-cell {
				display: inline-block;
				margin: 10px -4px 10px 0;
				min-height: 100px;
				padding-bottom: 10px;
				vertical-align: top;
				width: 50%;

				&:nth-of-type(2n) {
					border: none;
				}
			}
		}
	}
}
@include tablet {
	.kontakt {
		.table {
			.table-cell {
				border: none;
				border-bottom: 1px solid $textFossilGrey;
				display: block;
				margin: 10px 0;
				width: 100%;

				&:nth-of-type(2n) {
					border-bottom: 1px solid $textFossilGrey;
				}

				&:last-of-type {
					border: none;
				}
			}
		}
	}
}




  /* 404
   ========================================================================== */

.wrap-404 {

}

.error-404 {
	ul {
		li {
			margin-bottom: 5px;

			a {
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}




  /* FOOTER
   ========================================================================== */

footer {
	text-align: center;

	> div {
		text-align: center;
	}

	&.bg-apricot {
		address {
			background-color: lighten($bgApricot, 10%);
			border-color: darken($bgApricot, 20%);
		}
		.copy {
			background-color: darken($bgApricot, 30%);
			color: $bgApricot;
		}
	}
	&.bg-black {
		address {
			background-color: lighten($bgBlack, 10%);
			border-color: darken($bgBlack, 20%);
		}
		.copy {
			background-color: darken($bgBlack, 30%);
			color: $bgBlack;
		}
	}
	&.bg-blue {
		address {
			background-color: lighten($bgBlue, 10%);
			border-color: darken($bgBlue, 20%);
		}
		.copy {
			background-color: darken($bgBlue, 30%);
			color: $bgBlue;
		}
	}
	&.bg-bubblegum {
		address {
			background-color: lighten($bgBubblegum, 10%);
			border-color: darken($bgBubblegum, 20%);
		}
		.copy {
			background-color: darken($bgBubblegum, 30%);
			color: $bgBubblegum;
		}
	}
	&.bg-crimson {
		address {
			background-color: lighten($bgCrimson, 10%);
			border-color: darken($bgCrimson, 20%);
		}
		.copy {
			background-color: darken($bgCrimson, 30%);
			color: $bgCrimson;
		}
	}
	&.bg-greenbgGreen {
		address {
			background-color: lighten($bgGreen, 10%);
			border-color: darken($bgGreen, 20%);
		}
		.copy {
			background-color: darken($bgGreen, 30%);
			color: $bgGreen;
		}
	}
	&.bg-ocean {
		address {
			background-color: lighten($bgOcean, 10%);
			border-color: darken($bgOcean, 20%);
		}
		.copy {
			background-color: darken($bgOcean, 30%);
			color: $bgOcean;
		}
	}
	&.bg-purple {
		address {
			background-color: lighten($bgPurple, 10%);
			border-color: darken($bgPurple, 20%);
		}
		.copy {
			background-color: darken($bgPurple, 30%);
			color: $bgPurple;
		}
	}
	&.bg-sage {
		address {
			background-color: lighten($bgSage, 10%);
			border-color: darken($bgSage, 20%);
		}
		.copy {
			background-color: darken($bgSage, 30%);
			color: $bgSage;
		}
	}
	&.bg-sand {
		address {
			background-color: lighten($bgSand, 10%);
			border-color: darken($bgSand, 20%);
		}
		.copy {
			background-color: darken($bgSand, 30%);
			color: $bgSand;
		}
	}
	&.bg-white {
		address {
			background-color: darken(#FFF, 10%);
			border-color: darken(#FFF, 20%);
		}
		.copy {
			background-color: darken(#FFF, 30%);
			color: #FFF;
		}
	}	
	&.bg-yellow {
		address {
			background-color: lighten($bgYellow, 10%);
			border-color: darken($bgYellow, 20%);
		}
		.copy {
			background-color: darken($bgYellow, 30%);
			color: $bgYellow;
		}
	}

	address {
		font-style:normal;
		font-variant:normal;
		font-weight:normal;

		border: 2px dashed;
		padding: 20px;

		display: inline-block;
		vertical-align: middle;

		.table-cell {
			color: #534a31;
			font-size: 17px;
			font-weight: bold;
			padding: 5px;
			text-align: left;

			&.table-cell-h {
				color: #6e6241;
				font-size: 16px;
				font-weight: 300;
			}
		}
	}

 	h5 {
	 	color: $footerSocialMediaHeading;
	 	font-size: 36px;
	 	font-weight:300;
	 	line-height:1.3;
	 	margin-bottom: 20px;
	}

	.copy {
		margin-top: 40px;
		padding: 20px;

		small {
			font-size:14px;
			text-align: center;

			a {
				color: inherit;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.footer-column {
		display: inline-block;
		vertical-align: middle;
		width: 33%;
	}
}

.footerSocial {
	input {
		background-color: $footerSearchInput;
		background-image: url('../images/search.jpg');
		background-position: right center; 
		background-repeat: no-repeat;
		border: 1px solid $footerSearchInputBorder;
		box-sizing: border-box;
		font-size: 16px;
		padding: 12px 20px 12px 40px;
	}

	ul {
		li {
			display: inline-block;

			a {
				img {
					max-width: 84%;
				}
			}
		}
	}
}

.w-calendar {
	div {
		margin: 0 auto;
	}
}
@include laptop {
	footer {
		.footer-column {
			margin-bottom: 30px;
			width: 100%;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}
@include mobile {
	footer {
		.copy {
			margin-top: 0;
		}
	}
}



  /* Two-image-layout
   ========================================================================== */

.two-image-layout {

	img { 
		height:auto;
		width: 100%;
	}
	
	.grid-50 {
		padding: 40px;

		h3 {
			
			font-size:24px;
			font-weight:300;
			line-height:1.3;
			padding:20px 0;

		}
	}
}

@include mobile {
	.two-image-layout {
		.grid-50 {
			width: 100%;
		}
	}
}

