/* Version 2.0 */

p {
	line-height: 1.7em;
}
@include mobile {
	p {
		font-size: calc(#{$base-font-size} - 1px);
		line-height: 1.6em;
	}
}

strong {
    font-weight: 500;
}

#slideMenu {
	background: #fff;
	display: none;
	height: 100%;
	max-width:100%;
	overflow-y: auto;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 150;
	backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	transition: transform 0.5s ease;
	-o-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	-webkit-transition: transform 0.5s ease;
	transform: translate3d(100%, 0, 0);
	-o-transform: translate3d(100%, 0, 0);
	-ms-transform: translate3d(100%, 0, 0);
	-moz-transform: translate3d(100%, 0, 0);
	-webkit-transform: translate3d(100%, 0, 0);
}

.nav-open .pageBody:before {
    height: 100%;
    opacity: 0;
    width: 100%;
    z-index: 111;
    transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -webkit-transition: opacity 300ms ease;
}

.pageBody::before {
    background: rgba(0, 0, 0, 0.4);
    content: "";
    display: block;
    height: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    backface-visibility: hidden;
    -webkit-transition: opacity 300ms ease, height 1ms 300ms ease;
    -moz-transition: opacity 300ms ease, height 1ms 300ms ease;
    -o-transition: opacity 300ms ease, height 1ms 300ms ease;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transition: opacity 300ms ease, height 1ms 300ms ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}


.stickyMenu .mainNav {
	background-color: #fff;
  position:static;
}

.stickyMenu .mainNav ul li a {
	color: #333;
	margin-right: 10px;
}





/* #################################################################################################### */
/* ########################### HOME PAGE MENU LOCATION ########################### */
/* #################################################################################################### */
.home {
  .mainNav {
    position: absolute;
    right: 5%;
    top: 5%;

    ul {
      li {
        ul {
          li {
            a {
            	margin-right:0;
            }
          }
        }

        a {
        	color:#fff;
        	margin-right:10px;
        }

        &:last-child {
          a {
            margin-right:0;
          }
        }
      }
    }
  }
}





/* #################################################################################################### */
/* ########################### SUBPAGES MAINMENU LOCATION ########################### */
/* #################################################################################################### */

.stickyMenu {
  .mainNav {
    ul {
      ul {
        li {
          a {
            color:#fff;
          }
        }
      }
    }
  }
}
.mainNav {
  text-align: center;

  ul {
    li {
  		display: inline-block;
      margin: 0 2px;
      padding: 18px 0;
      position: relative;

      &:last-child {
        margin: 0;
      }

      a {
        font-size: 15px;
        font-weight:normal;
  			letter-spacing: 0.1em;
  			text-transform: uppercase; 
  		}
    }

    &:hover {
      & > ul {
        display: inherit;
      }
    }

    ul {
      background-color: #44454a;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, 0.15);
      display: none;
      left: 0;
      padding-bottom: 5px;
      padding-top: 5px;
      position: absolute;
      text-align: left;
      top: 45px;
      z-index: 1000;
      background-clip: padding-box;
      -webkit-background-clip: padding-box;
      border-radius: 4px;
      -ms-border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      box-shadow: 0 3px 0px rgba(85, 85, 85, 0), 0 0px 6px rgba(85, 85, 85, 0.1);
      -moz-box-shadow: 0 3px 0px rgba(85, 85, 85, 0), 0 0px 6px rgba(85, 85, 85, 0.1);
      -webkit-box-shadow: 0 3px 0px rgba(85, 85, 85, 0), 0 0px 6px rgba(85, 85, 85, 0.1);

      li {
        border: 0;
        display: block;
        font-weight: 400;
        margin: 0;
        padding: 0;
      
        &.current_page_item {
          background: #303030;
          border: 0;
        }
        
        &:hover {
          border: 0;
        }

        a {
          color: #ffffff;
  				display: block;
          font-size: 15px;
  				font-weight:300;
  				letter-spacing:0;
          padding: 10px;
          text-transform: none;
          white-space: nowrap;
          
          &:hover {
            background: #303030;
            border: 0;
          }
        }
      }
    }
  }
}

.mainNav ul li:hover > ul,
.mainNav ul li:hover > ul > ul {
  display: inherit; }

	.acf-file a .file-info h4 {

		font-weight:normal;
	}	
	.acf-file a .file-data i {
    font-size: 1.4em;
}

/* Ovo je ubaceno zbog bolje prezentacije teme za musteriju,slike su male, pa je bilo neopdhono povecati ih */
.search-form {
	border-width:1px;
	font-family: 'Fira Sans', sans-serif;
}
/* paginacija aktivni link */
.next a,
.prev a {
  font-weight:normal;
  font-size:14px;
  line-height:1.4;
}

.page-numbers {
  &.current {
    font-weight:bold;
  }
}


.news {
  .newsDescription {
    .newsDate {
      span {
        &+ span {
          font-weight:300;
          letter-spacing:0.1em;
        }
        img {
          width:16px;
        }
      }
    }
    h3 {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.03em;
        line-height: 1.3em;
    }
  }
}

.acf-file {
  a {
    .file-data {
    	width:auto;
    	line-height:normal;
    }
  }
}


.acf-block {
    margin: 0 auto 10px;
}

.acf-block {
  &.acf-text-only {
    p {
    	padding-bottom:25px;
    }
    ul {
    	padding-right: 35px;
    	padding-bottom:10px;

  		&>li {
        line-height: 1.4;
        padding-bottom: 10px;
        padding-left: 35px;
        position: relative;

        &::before {
          content: '–';
          left: 0;
          margin-left: 15px;
          margin-right: 15px;
          position: absolute;
          top: 0;
        }
      }
    }
  }
}

img {
  &.frame  {
    width:100%;
    border-width:1px;
  }
}



.blog-sidebar-widgets ul li,
.nav-right-sidebar ul li {
		border-bottom: 1px solid #f7f7f7;
		padding-left:10px;
		padding-right:10px;
		transition:all 0.3s ease;

}
.blog-sidebar-widgets ul li a,
.nav-right-sidebar ul li a {
		transition:all 0.3s ease;

}

.blog-sidebar-widgets ul li.active,
.nav-right-sidebar ul li.active,
.blog-sidebar-widgets ul li:hover,
.nav-right-sidebar ul li:hover {
	background:#f7f7f7;
}

article {
  p {
  	padding-bottom:25px;
  }

  a {
  	color:#0072BC;
  	font-weight:500;
  }
}

.recent-post.single-article a {
	color:#666;
	font-weight:300;
}

.permalink a {color:#fff!important;}

.intranet-menu {
  margin-top:20px;
}
.intranet-menu a {
  font-size:16px;
  font-weight:normal;
}
.intranet__link a {
	background:#fff;
	color:#000;
	display:inline-block;
	font-weight:normal;
	padding:5px 10px;
}





/* #################################################################################################### */
/* ########################### Footer ########################### */
/* #################################################################################################### */

footer address .table-cell {
	font-weight:normal;
}

.intranet__link a:hover {
	background:#000;
	color:#fff;
}

.acf-table table th { font-weight:500}
.acf-table table th, .acf-table table td {
line-height:1.3;

}
.acf-file {margin-top:20px;}

.secondaryNav ul li a {

	padding:20px 35px;
}
.news .newsDescription p {

	padding-top:10px;
}

.display-table p {

	padding-bottom:20px;
}
.display-table a { color:#000;text-decoration:underline;}

.display-table p:last-child { padding-bottom:0;}


.partners {
  max-width:480px;
  padding:20px;
  width: 100%;
  display:flex;
  justify-content:space-around;
  align-content:center;
  margin: 0 auto;
  .partner {
    max-width:50%;
    img {
      max-width: 150px;
    }
  }
}

/* ORDERED LIST */


.acf-text-only ol li {
			line-height: 1.3;
			padding-bottom:15px;
}

.acf-text-only ol {padding:0 25px 15px 25px;

}
.section-subtitle { padding-bottom:15px;}

.acf-table {

	padding-bottom:25px;
}
.acf-image,.acf-two-images {

	padding-bottom:15px;
}
.stickyMenu li{

	transition:none;
}

/* Impressum Page */
.page-template-law-pages h2 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 1.7em;
  margin: 20px 0 0;
  padding-bottom:20px;
}


/* MOBILE MENU NAVIGATION */

/* RESPONSIVE 980 */
@media screen and (max-width: 980px) {
  .nav-right-sidebar.grid-30 {
  	width:95%;
  }
  .secondaryNav ul li.menu-item a { padding:10px;}
  .nav-open .pageBody::before {
      opacity: 1;
  }

}

@media screen and (max-width:1280px) {

	#slideMenu {
    display:block!important;
  }

	.section-subtitle {
    padding-left: 0;
    padding-right: 0;
  }

}

/* LAYOUTS */

.mobileMenu ul li ul li a {
  border: 0;
  line-height: 1.2;
}

.logoMenu {
	display:none;
}

#slideMenu {
  display: none;
}


#slideMenu li > ul {
  display: none;
}

#slideMenu li.current-menu-item > ul,
#slideMenu li.current-menu-ancestor > ul {
  display: block;
}


/*	#slideMenu ul li.menu-item-has-children > a {
  width: 80%; 	
}*/

#slideMenu ul li.menu-item-has-children > a:after {
  background-color: #f7f7f7;
  color: #000;
  content: "+";
  font-size: 20px;
  font-weight:normal;
  position: absolute;
  right: 10px;
  text-align: center;
  width: 25px;
}

#slideMenu ul li.menu-item-has-children > a.opened:after,
#slideMenu ul li ul li.menu-item-has-children > a.opened:after {
  content: "-";
}

  #slideMenu ul {
    border-top: 1px solid #fff; 
    font-size: 14px;
		padding:100px 5%;
		}

		#slideMenu ul li {
      position:relative;
    }
  
    #slideMenu ul li a {
  		color:#333;
      display: block;
  		font-weight:500;
  		letter-spacing:0.1em;
			padding:12px 5px 10px 10px;
      text-decoration: none;
  		text-transform:uppercase;
  	/* reset trasnsiotion */
  		font-size:15px;
      -moz-transition: none;
      -webkit-transition: none;
      -o-transition: color 0 ease-in;
      transition: none;
     }


    #slideMenu ul li.current_page_item > a {
	  		color: #679b41;
        font-weight: 500;
				position:relative;
		}

					#slideMenu ul li.current_page_item > a::before {
	  	     content:"";
					 width:10px;
					 height:10px;
					 background:#679b41;
					 display:inline-block;
					 margin-right:10px;
				  }
					#slideMenu ul li a:hover {
						color:#679b41;
					}

      #slideMenu ul li.current_page_item > a > a {
        font-weight: normal; }
    #slideMenu ul li ul {
      background: #fff;
			padding:15px;

			 }
    #slideMenu ul li ul.sub-menu li {
      position: relative; }
      #slideMenu ul li ul.sub-menu li.current_page_item a {
        font-weight: bold; }
      #slideMenu ul li ul.sub-menu li a {
				background: #fff;
    color: #000;
    display: inline-block;
    /* font-weight: normal; */
    text-transform: none;
		font-weight:normal;
    /* font-size: 14px; */
    padding:7px 10px 5px 10px;
    margin-left:10px; 
		letter-spacing: 0.025em;}

		#slideMenu ul li ul.sub-menu li a:hover {
			background:#f47e31;
			color:#fff;
		}
  
.current_page_ancestor li.current_page_item a {
  font-weight: bold; }

.disableMenuOverflow {	overflow:hidden!important;}






/* #################################################################################################### */
/* ########################### ADDITIONS BY STRAHINJA 27/05/19 - Login page ########################### */
/* #################################################################################################### */

.hasengrundForm {
  max-width:300px;
  width:300px;

  label {
    display: block;
  }

  input {
    border:1px solid #f7f7f7;
    color:#646464;
    padding: 13px 28px;
    width: 100%;
  }
}

#wp-submit {
  color:#fff;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  letter-spacing: 0.2em;
  margin-top:25px;
  padding: 13px 28px;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.login-msg{
  color:red;
  padding-bottom: 20px;
}

.login-username {
  display: block;
  margin-bottom:20px;
}

#wp-submit{
  background-color: #5998D5;

  &:hover {
    background-color: #337fc8;
  }
}

.page-template-login-form-php h1 {
  color: #5998D5;
  font-size:23px;
  font-weight: normal;
  margin-bottom: 20px;
}

.search-title h1,
.archive-title h1,
.tag-title h1 {
  color: inherit;
  text-align: inherit;
}